/src/KB.ContractModel/bin
/src/KB.ContractModel/obj
/src/KB.Entity/bin
/src/KB.Entity/obj
/src/KB.IRepository/bin
/src/KB.IRepository/obj
/src/KB.IService/bin
/src/KB.IService/obj
/test/KB.Tests.Tool/obj
/test/KB.Tests.Tool/bin
/test/KB.Tests.Repository/obj
/test/KB.Tests.Repository/bin
/src/KB.Tool/bin
/src/KB.Tool/obj
/src/KB.WebApi/*.user
/src/KB.WebApi/obj
/src/KB.WebApi/bin
/src/KB.Service/obj
/src/KB.Service/bin
/src/KB.PostgreSqlRepository/obj
/src/KB.PostgreSqlRepository/bin
/src/KB.Infrastructure/bin
/src/KB.Infrastructure/obj
/test/KB.Tests.Infrastructure/bin
/test/KB.Tests.Infrastructure/obj
/src/KB.ThirdParty.ESB/bin
/src/KB.ThirdParty.ESB/obj
/src/KB.SqlServerRepository/obj
/src/KB.SqlServerRepository/bin
/src/KB.MongoDbRepository/bin
/src/KB.MongoDbRepository/obj
/src/KB.MySqlRepository/bin
/src/KB.MySqlRepository/obj

